* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Raleway', sans-serif !important;
	color: #fff;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;
  
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}


.vh100 {
	height: 100vh;
}


.grad10 {
  background: linear-gradient( rgb(0, 0, 0) 25%, rgb(238, 24, 24));
	}

.grad70 {
	background: linear-gradient( rgb(0, 0, 0) 65%, rgb(238, 24, 24));
	}
		
	
.buttons-register {
	padding: 2em;
}

.btn-success {
	padding: 0.5em;
	margin-bottom: 3em;
}



.title {
	padding: 0.5em;
	margin-bottom: 1em;
}

.signup {
 background: green;
}